body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

}

.probee {
    max-width: 100%;
    max-height: 100%;
}

.hepsi {
    display: flex;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;

    height: 30vh;

}


a {
    font-size: 150%;
    text-decoration: none;

}

.vertical {
    border-left: 5px solid orange;
    height: 100vh;

    border-radius: 15%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;

    padding-top: 15%;
    text-align: center;


}

.sidebar ul li a:hover {
    opacity: 1;
}

.sidebar ul li a {
    color: #000;
    font-weight: bold;
    opacity: 0.7;
}



.sidebar {
    width: 19vw;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: static;


}


.side-line {
    border: 4px solid orange;
}

li button {
    margin-top: 10vh;
    width: 10vw;
    background-color: orange;
    border: none;
    height: 10vh;
    cursor: pointer;
    opacity: 0.8;

}

li button:hover {
    opacity: 1;
}